.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  width: 100%;
  min-height: 50px;  
  padding: 1%;
  z-index: 1000;
  background-color: var(--color-main);
}
