#root {
  margin: 0;
  padding: 0;
  text-align: center;

  /* Colors */
  --color-main: #8b95d1;
  --color-second: #dadeff;
  --color-third: #3949ae;
  --color-buttons: #f58d2d;
  --color-text: #ffffff;

  /* Text */
  --text-xs: 14px;
  --text-sm: 16px;
  --text-md: 18px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 28px;
  --text-3xl: 32px;
  --text-4xl: 36px;
  --text-5xl: 40px;
  --text-6xl: 44px;
  --text-7xl: 48px;

  --font-weigth-bold: 700;
  --font-weigth-semi-bold: 600;
  --font-weigth-medium: 500;
  --font-weigth-regular: 400;

  /* Borders */
  --transparent-border: 1px solid transparent;

  /* Font */
  --default-font: 'Montserrat', sans-serif;
}

